@label-grey: #E8E8E8;
@blue: blue;
@eggshell: rgba(0, 0, 0, 0.2);

.center{
  vertical-align: middle;
  text-align: center;
}

.left-label{
  float:left;
}

.right-label{
  float:right;
  border-radius: 0 !important;
  border-top-right-radius: .3rem !important;
}

.attached{
  background-color: @label-grey;
}

.task-message{
  font-size: 1.25rem;
  font-weight: bold;
  font: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.todo-list{
  padding: 1em !important;
}
